/* Import from Bootstrap */
@import "./less/bootstrap.less";

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  /*padding-top: 50px;*/
  padding-bottom: 20px;
}

.jumbo-lead {
	margin-top: 30px;
}
.jumbo-lead {
	margin-left: 20px;
}


// Navbar =====================================================================
.navbar-brand {
	background: url("@{img-path}/logo-small.png") 20px center no-repeat;
	padding-left: 95px;
}

// Buttons ====================================================================

// Typography =================================================================

// Tables =====================================================================

// Forms ======================================================================

// Navs =======================================================================

// Indicators =================================================================

// Progress bars ==============================================================

// Containers =================================================================
